#container {
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
    /* min-width: 550px; */
    /* grid-template-columns: 50% 50%; */
}
#displayPanel{
    display: grid;

    /* max-width: 350px; */
    
}
#actionPanel {
    /* padding-top: 1em;
    border-top: solid; */
}

#account {
    
    text-decoration: underline;
    align-content: center;

}

.center {
    align-self: center;
}

.horiz {
    display: inline-flex;
    flex-direction: row;
}

.divBorder {
    /* border: solid 1px grey; */
    background-color: grey;
    border-radius: 0.5em;
    margin: 0.2em;
    padding-top: 0.2em;
    /* padding-bottom: 0.2em; */
    /* padding: 5px; */
}

.divBox {
    color: black;
    text-align: left;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    width: min-content;
}

.Card {
    /* display: inline-flex; */
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: auto auto 80px; */
}
.btn {
    background-color: powderblue;
    width: 8em; 
    resize: none;
    border-radius: 0.5em;
    border: none;

    padding: 0.5em;
    margin: 0.5em;
}
.btnWide {
    background-color: powderblue;
    width: auto; 
    resize: none;
    border-radius: 0.5em;
    border: none;

    padding: 0.5em;
    margin: 0.5em;
}

#errMsg {
    color: red;
    font-size: 0.8em;
}
#balOutput {
    font-family: sans-serif;

    background-color: palegreen;
    border-radius: 0.5em;
    
    padding: 0.5em;
    margin: 0.5em;
}
#acctName {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
}